<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jasonsanchez819.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sunflower.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>jasonsanchez819.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>jasonsan_z819com_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UniversityofLouisvilleVaccine.DataContexts.VendorDBContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniversityofLouisvilleVaccine.DataContexts.VendorDBContext, UniversityofLouisvilleVaccine" MigrationConfiguration="UniversityofLouisvilleVaccine.DataContexts.VendorMigrations.Configuration, UniversityofLouisvilleVaccine" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UniversityofLouisvilleVaccine.DataContexts.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniversityofLouisvilleVaccine.DataContexts.ApplicationDbContext, UniversityofLouisvilleVaccine" MigrationConfiguration="UniversityofLouisvilleVaccine.DataContexts.IdentityMigrations.Configuration, UniversityofLouisvilleVaccine" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UniversityofLouisvilleVaccine.DataContexts.VaccineDBContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniversityofLouisvilleVaccine.DataContexts.VaccineDBContext, UniversityofLouisvilleVaccine" MigrationConfiguration="UniversityofLouisvilleVaccine.DataContexts.VaccineMigrations.Configuration, UniversityofLouisvilleVaccine" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UniversityofLouisvilleVaccine.DataContexts.VaccineNotificationDB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniversityofLouisvilleVaccine.DataContexts.VaccineNotificationDB, UniversityofLouisvilleVaccine" MigrationConfiguration="UniversityofLouisvilleVaccine.DataContexts.VaccineNotificationMigrations.Configuration, UniversityofLouisvilleVaccine" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UniversityofLouisvilleVaccine.DataContexts.VaccineUseDBContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniversityofLouisvilleVaccine.DataContexts.VaccineUseDBContext, UniversityofLouisvilleVaccine" MigrationConfiguration="UniversityofLouisvilleVaccine.DataContexts.VaccineUseMigrations.Configuration, UniversityofLouisvilleVaccine" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=sunflower.arvixe.com;database=UofLVaccine;uid=j0sanc02;password=sanchez819;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=sunflower.arvixe.com;database=UofLVaccine;uid=j0sanc02;password=sanchez819;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversityofLouisvilleVaccine.DataContexts.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversityofLouisvilleVaccine.DataContexts.VaccineDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversityofLouisvilleVaccine.DataContexts.VaccineNotificationDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversityofLouisvilleVaccine.DataContexts.VaccineUseDBContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="UniversityofLouisvilleVaccine.DataContexts.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="UniversityofLouisvilleVaccine.DataContexts.VaccineDBContext" />
    <_ConnectionStringsToInsert Include="UniversityofLouisvilleVaccine.DataContexts.VaccineNotificationDB" />
    <_ConnectionStringsToInsert Include="UniversityofLouisvilleVaccine.DataContexts.VaccineUseDBContext" />
    <_ConnectionStringsToInsert Include="UniversityofLouisvilleVaccine.DataContexts.VendorDBContext" />
  </ItemGroup>
</Project>