
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="container">
    <img id="grantImage" src="~/Content/Images/grantImage.png" style="max-height:663px; max-width:1000px" />
</div>